@page "/scores/create"
@inject ScoreService scoreService;
@inject PlayerService playerService;
@inject CourseService courseService;
@using WebApp.Data;

<h3>Submit score:</h3>

<EditForm Model="@Model" OnValidSubmit="@CreateNewScore">

    <DataAnnotationsValidator />
    <label for="PlayerId">Player:</label>
    <InputSelect @bind-Value="Model.PlayerId">

        @foreach (var player in players)
        {
            <option value="@player.Id">@player.Name</option>
        }
    </InputSelect>



    <br />
    <label for="CourseId">Course:</label>
    <select @bind="Model.CourseId">

        @foreach (var course in courses)
        {
            <option value="@course.Id">@course.Name</option>
        }
    </select>
    <br />
    <label for="Date">Date:</label>
    <InputDate id="Date" @bind-Value="Model.Date" DisplayName="Date" />
    <br />
    <label for="Point">Point:</label>
    <InputNumber id="Point" @bind-Value="Model.Point" DisplayName="Point" />

    <br />
    <button type="submit">Submit</button>
</EditForm>



@code {

    public Score Model = new Score();

    public List<Player> players = new List<Player>();

    public List<Course> courses = new List<Course>();

    public DateTime StartDate { get; set; } = DateTime.Now;


    protected override async Task OnInitializedAsync()
    {
        Model.Date = DateTime.Now;
        players = await playerService.GetPlayersAsync();
        courses = await courseService.GetCoursesAsync();


        Model.PlayerId = players[0].Id; 
        Model.CourseId = courses[0].Id;
    }


    protected async Task CreateNewScore()
    {
        // TODO pushing wrong data into model? - Use DTO instead?
        Model.Player = null;
        Model.Course = null;
        await Task.Run(() => scoreService.CreateScore(Model));

        UriHelper.NavigateTo("Scores");
    }
}
